# Conditions in Python

In [1]:
print(45 > 4)

True

In [3]:
print(4 >= 4)

True

In [5]:
print(34 == 33)

False

>
<
>=
<=
==
!=

In [22]:
a = 2
b = 4
if b > a:
    print("Hello world")
    print("B is greater")

Hello world
B is greater

In [18]:
isRaining = False
if isRaining:
    print("I will stay at home")

In [32]:
a = 4
b = 8
if b > a:
    print("Hello world")
    print("B is greater")
else:
    print("A is greater")
print("Hello")

Hello world
B is greater
Hello

In [56]:
marks = 77
if marks > 90:
    print("Hello world")
    print("You will get a bike")
elif marks > 70:
    print("You will get a cycle")
elif marks > 50:
    print("You will get pencil box")
else:
    print("No gift")

You will get a cycle

### Nested if else

In [63]:
if True:
    print("Inside 1st if")
    if False:
        print("if inside if")
    else:
        print("Else inside if")
else:
    print("Inside 1st else condition")

Inside 1st if
Else inside if

In [133]:
if 4 > 6 and 8 > 3:
    print("Both are true")
else:
    print("In else")

In else

In [141]:
if 4 > 9 or 8 > 9:
    print("We are in if condition")
else:
    print("In else")

In else

# Loops in Python

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

In [72]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [90]:
arr2 = range(10)
for var1 in arr2:
    print("Hello world", var1)

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9

In [106]:
arr1= ["Apple", "Banana", "Cherry", "Mango"]
for var2 in arr1:
    print(var2)

Apple
Banana
Cherry
Mango

In [110]:
for i in range(20):
    if i %2 != 0:
        print(i)
    else: 
        print(i, "is divisible by 2")

0 is divisible by 2
1
2 is divisible by 2
3
4 is divisible by 2
5
6 is divisible by 2
7
8 is divisible by 2
9
10 is divisible by 2
11
12 is divisible by 2
13
14 is divisible by 2
15
16 is divisible by 2
17
18 is divisible by 2
19

In [121]:
for i in range(20):
    if i %2 != 0:
        print(i)
    else: 
        print(i, "is divisible by 2")

i = 1
while i < 10:
    print("Hello", i)
    i += 2
print("Outside loop")

Hello 1
Hello 3
Hello 5
Hello 7
Hello 9
Outside loop

In [123]:
i = 100
while i> 10:
    print("Hello", i)
    i -= 5
print("Outside loop")

Hello 100
Hello 95
Hello 90
Hello 85
Hello 80
Hello 75
Hello 70
Hello 65
Hello 60
Hello 55
Hello 50
Hello 45
Hello 40
Hello 35
Hello 30
Hello 25
Hello 20
Hello 15
Outside loop

### break statement in Python

In [149]:
for i in range(10):
    if i ==4:
        break
    print(i)
print("Outside for loop")

0
1
2
3
Outside for loop

In [155]:
i = 0
while i < 10:
    if i == 5:
        break
        
    print(i)
    i +=1

0
1
2
3
4

In [159]:
for i in range(10):
    if i ==4:
        continue
    print(i)
print("Outside for loop")

0
1
2
3
5
6
7
8
9
Outside for loop

In [163]:
i = 0
while i < 10:
    if i == 5:
        i+=1
        continue
        
    print(i)
    i +=1

0
1
2
3
4
6
7
8
9

In [171]:
nameList = ["Rajat", "Fynd", "Academy"]
marks=  [ 10, 30, 60]
for i in nameList:
    for score in marks:
        print(i,score)

Rajat 10
Rajat 30
Rajat 60
Fynd 10
Fynd 30
Fynd 60
Academy 10
Academy 30
Academy 60

In [165]:
for i in range(5):
    for j in range(3):
        print("*", end = " ")
    print("")

* * *
* * *
* * *
* * *
* * *

In [179]:
for i in range(1,6):
    for j in range(i):
        print("*", end = " ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [199]:
for i in range(1,6):
    for j in range(5-i+1):
        print("*", end = " ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [207]:
for i in range(5):
    for j in range(5-i):
        print(" ", end= " ")
    for j in range(i+1):
        print("*", end = " ")
    print('')

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
   *
  ***
 *****
*******

In [217]:
for i in range(5):
    # if i == 4:
    #     break
    print("Hello", i)
else:
    print("Loop ended")

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Loop ended

## Practice Questions

In [ ]:
Print each character of a string.
Sum all elements in a list.
Print the first 10 natural numbers.
Print a multiplication table for a given number.
Find the factorial of a given number.
Print all even numbers within a given range.
Reverse a list.
Print elements at odd index positions.
Count the number of vowels in a string.
Print a pattern of stars.

In [183]:
xy = "Rajat Jain"
for i in xy:
    print(i)

R
a
j
a
t

J
a
i
n

In [195]:
x = ["A", "B", "C", "D"]
print(x[2])

C

In [233]:
x = list(range(10, -7, -2))
print(x)

[10, 8, 6, 4, 2, 0, -2, -4, -6]

In [235]:
print(min(34, 5, -20, 320))

-20

In [239]:
print(max([34, 5, -20, 320]))

320

In [241]:
print(abs(-30))

30

In [243]:
print(abs(30))

30

In [253]:
print(not(4 > 4))

True

In [257]:
print((3 + 5) * 6)

48

In [277]:
import math
print(math.ceil(-45.6))

-45