# List of elements

In [1]:
var1 = [4, 5, 7, 8]
print(var1)
print(type(var1))

[4, 5, 7, 8]
<class 'list'>

In [4]:
print(var1[0])

4

In [8]:
print(var1[2])

7

### In Python list you can store any data type

In [16]:
var2 = ["Rajat", 'Jain', 34, 45.33, True, False]
print(var2)

['Rajat', 'Jain', 34, 45.33, True, False]

In [24]:
x = [100, 200, 300]
var3 = ["Rajat", 'Jain', 34, x]
# var3 = ["Rajat", 'Jain', 34, [100, 200, 300]]
print(var3)

['Rajat', 'Jain', 34, [100, 200, 300]]

In [40]:
y = var3[3]
print(y)
print(var3[0][1])

[100, 200, 300]
a

#### Appending the element from the list

In [60]:
var4 = []
var4.append(3)
var4.append(4)
var4.append(["Rajat", "Jain"])
print(var4)
var4[2].append("Fynd")
print(var4)

[3, 4, ['Rajat', 'Jain']]
[3, 4, ['Rajat', 'Jain', 'Fynd']]

#### Deleting an element from list

In [66]:
var5 = ['Rajat', 'Jain', 34, [100, 200, 300]]
del var5[2]
print(var5)
del var5[2][0]
print(var5)

['Rajat', 'Jain', [100, 200, 300]]
['Rajat', 'Jain', [200, 300]]

#### Accessing negative index

In [78]:
var6 = ["Rajat", 'Jain', 34, 45.33, True, False]
print(var6[-1])
print(var6[-2])
print(var6[-3])
print(var6[-4])
print(var6[-5])

False
True
45.33
34
Jain

In [89]:
arr1 = []
for i in range(10):
    arr1.append(0)
print(arr1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
arr1_1 = ['0'] * 10
print(arr1_1)

['0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [103]:
var6 = ["Rajat", 'Jain', 34, 45.33, True, False]
var6[0] = "Fynd"
var6[1] = "Arihant"
print(var6)

['Fynd', 'Arihant', 34, 45.33, True, False]

## Slicing of list

In [108]:
arr1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(arr1[1 : 6])
print(arr1[4 : 8])

[1, 2, 3, 4, 5]
[4, 5, 6, 7]

In [118]:
# arr1[3: 10]
print(arr1[3: ])

[3, 4, 5, 6, 7, 8, 9]

In [120]:
# arr1[0: 5]
print(arr1[ : 5])

[0, 1, 2, 3, 4]

In [124]:
x = "The quick brown fox jumps over the lazy dog."
print(x[4: 10])

quick

In [132]:
arr1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(arr1[0: 10: 2])
print(arr1[:: 3])

[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [136]:
arr1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(arr1[-1: -7: -1])

[9, 8, 7, 6, 5, 4]

In [138]:
print(arr1[9: 2: -1])

[9, 8, 7, 6, 5, 4, 3]

In [160]:
print(arr1[-9: -2: 1])

[1, 2, 3, 4, 5, 6, 7]

### Using slice in python

In [156]:
a = slice(2,8,2)
print(arr1[a])

[2, 4, 6]

In [154]:
arr1[slice(2,8,2)]

[2, 4, 6]

In [172]:
def myFun(x):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x]
    
def myFun2(x):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x]
    
def myFun3(x):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x]
myslice = slice(1,3)
myFun(myslice)
myFun2(myslice)
myFun3(myslice)

[1, 2]

In [178]:
def myFun(x1, x2):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x1: x2]

def myFun2(x1, x2):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x1: x2]

def myFun3(x1, x2):
    arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    return arr[x1: x2]

myFun(1, 3)
myFun2(1, 3)
myFun3(1, 3)

[1, 2]

In [201]:
arr = []
for i in range(10):
    arr.append("hello " + str(i))
# print(arr)

# for i in arr:
#     print(i)

for i in range(len(arr)):
    if i == 3:
        arr[i] = "Rajat Jain"
    print(arr[i])

hello 0
hello 1
hello 2
Rajat Jain
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [207]:

# write the code to find if a particular element exist in a list
#input = arr, x

def checkValue(arr, x):
    for i in range(len(arr)):
        if arr[i] == x:
            return True
    return False

def checkValue(arr, x):
    for i in arr:
        if i == x:
            return True
    return False

print(checkValue([4,6,7,8,9,100,200] , -7))

False

In [209]:
def checkValue(arr, x):
    if x in arr:
        return True
    else:
        return False

print(checkValue([4,6,7,8,9,100,200] ,6))

False

In [ ]:
def checkValue(arr, x):
    return x in arr

print(checkValue([4,6,7,8,9,100,200] ,6))

### Joining two lists

In [223]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(a, b, c, sep="\n")

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [227]:
a = [1,2,3]
b = [4,5,6]
for i in b:
    a.append(i)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

### Sorting in Python

In [235]:
arr = [60, 5, 78, 3, 1, 2, -10, 50]
arr.sort()
print(arr)

[-10, 1, 2, 3, 5, 50, 60, 78]

In [237]:
arr = [60, 5, 78, 3, 1, 2, -10, 50]
arr.sort(reverse = True)
print(arr)

[78, 60, 50, 5, 3, 2, 1, -10]

In [239]:
arr = [60, 5, 78, 3, 1, 2, -10, 50]
arr2 = sorted(arr)
print(arr)
print(arr2)

[60, 5, 78, 3, 1, 2, -10, 50]
[-10, 1, 2, 3, 5, 50, 60, 78]

In [241]:
arr = [60, 5, 78, 3, 1, 2, -10, 50]
arr2 = sorted(arr, reverse = True)
print(arr)
print(arr2)

[60, 5, 78, 3, 1, 2, -10, 50]
[78, 60, 50, 5, 3, 2, 1, -10]

In [244]:
arr = ["60", "1", "01", "1000", "78", "001", "4", "100"]
arr.sort()
print(arr)

['001', '01', '1', '100', '1000', '4', '60', '78']

In [250]:
arr = ["A", "B", "a", "aaaaaaa", "34", 34]
arr.sort()
print(arr)

TypeError: '<' not supported between instances of 'int' and 'str'

In [252]:
arr = [1, 0, 45, 23.32]
arr.sort()
print(arr)

[False, True, 23.32, 45]

In [262]:
def func1():

    def func2():
        print("Hello Inside")

    return func2

x = func1()
x()

Hello Inside

In [270]:
arr = ["Rajat", "Fynd"]
arr[0] = "Shubham"
print(arr)

['Shubham', 'Fynd']